<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <!--MySql-->
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mailserver?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root1234</property>
        <property name="connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis"></property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="models.User"/>
        <mapping class="models.MailAccountEntity"/>
        <mapping class="models.MailPropertyEntity"/>
    </session-factory>


    <!-- H2 Database-->
    <!-- <session-factory>
         &lt;!&ndash; JDBC Database connection settings &ndash;&gt;
         <property name="connection.driver_class">org.h2.Driver</property>
         <property name="connection.url">jdbc:h2:mem:test</property>
         <property name="connection.username">sa</property>
         <property name="connection.password"></property>
         &lt;!&ndash; JDBC connection pool settings ... using built-in test pool &ndash;&gt;
         <property name="connection.pool_size">1</property>
         &lt;!&ndash; Select our SQL dialect &ndash;&gt;
         <property name="dialect">org.hibernate.dialect.H2Dialect</property>
         &lt;!&ndash; Echo the SQL to stdout &ndash;&gt;
         <property name="show_sql">true</property>
         &lt;!&ndash; Set the current session context &ndash;&gt;
         <property name="current_session_context_class">thread</property>
         &lt;!&ndash; Drop and re-create the database schema on startup &ndash;&gt;
         <property name="hbm2ddl.auto">create-drop</property>
         &lt;!&ndash; dbcp connection pool configuration &ndash;&gt;
         <property name="hibernate.dbcp.initialSize">5</property>
         <property name="hibernate.dbcp.maxTotal">20</property>
         <property name="hibernate.dbcp.maxIdle">10</property>
         <property name="hibernate.dbcp.minIdle">5</property>
         <property name="hibernate.dbcp.maxWaitMillis">-1</property>
         <mapping class="models.User" />
         <mapping class="models.MailAccountEntity"/>
         <mapping class="models.MailPropertyEntity"/>
     </session-factory>-->
</hibernate-configuration>
